/* Container principale del form */
.formRegistrazione {
    background-color: #f4f7fb;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Titolo del modulo */
.formRegistrazione h2 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Stile per tutti gli input e select */
.formEditText {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

.error{
    color:red;
}

select.selectMulti {
    margin-bottom: 20px; /* Solo per campi con questa classe */
}

/* Focus sugli input */
.formEditText:focus {
    border-color: #007bff;
    outline: none;
    background-color: #f1f9ff;
}

/* Stile per il pulsante di invio */
.formButton {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambia colore del pulsante al passaggio del mouse */
.formButton:hover {
    background-color: #0056b3;
}

/* Padding extra per il div contenitore */
.formRegistrazione form {
    display: flex;
    flex-direction: column;
}

/* Stile per i select con opzioni multiple */
select.formEditText {
    height: auto;
    padding: 12px;
}

/* Aggiungi un po' di spazio extra tra gli input e i selettori */
select, input[type="text"], input[type="date"], input[type="password"] {
    margin-bottom: 20px;
}

/* Aggiungi uno stile ai placeholders */
input::placeholder, select::placeholder {
    color: #888;
    font-style: italic;
}

/* Aggiungi un po' di margine sui bordi dei form */
input, select {
    margin-bottom: 15px;
}

/* Cambia colore al bordo dei select quando selezionati */
select:focus {
    border-color: #007bff;
}

/* Stile aggiuntivo per i titoli dei campi */
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

/* Spaziatura tra il form e il bottone di invio */
.formButton {
    margin-top: 20px;
}

/* Extra padding su dispositivi piccoli */
@media screen and (max-width: 600px) {
    .formRegistrazione {
        padding: 20px;
    }

    .formEditText {
        font-size: 0.9em;
    }

    .formButton {
        font-size: 1em;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #00BF62;  /* Colore di sfondo per l'icona del calendario */
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

input[type="date"] {
    padding-right: 20px;  /* Spazio per l'icona */
}



